{% extends 'timetableapp/main.html' %}
{% load static %}
{% block content %}


<div class="viewcontainer">
    <div class="container-fluid">

    <div class="search">
        <input type="text" class="searchbox" placeholder="Search...">
        <input type="submit" value="Search" class="searchButton">
        <a href="{% url 'add-department' %}"><button class="searchButton">Add Department </button></a>

    </div>


        <table class="table text-center">
            <thead class="table-header" style="color: white;">
			<tr>
                <div class="header__item filter__link" >
                   <th scope="col" class="text-center">Department name</th>

                </div>
                <div class="header__item filter__link" >
                    <th scope="col" class="text-center">Branch name</th>
 
                 </div> 
                <div class="header__item filter__link">
                  <th class="text-center" scope="col">Semester</th>

                </div>

                <div class="header__item filter__link">
                    <th class="text-center" scope="col">Strength</th>
  
                  </div>

                <div class="header__item filter__link">
                    <th class="text-center" scope="col"> Update</th>

                </div>
                <div class="header__item filter__link">
                     <th class="text-center" scope="col">Delete</th>

                </div>
                <div class="header__item filter__link">
                    <th class="text-center" scope="col">Generate Timetable</th>

                </div>
                <div class="header__item filter__link">
                    <th class="text-center" scope="col">View Timetable</th>

                </div>
			</tr>	
            </thead>
			
            
			<tbody class="tab-content">
                {% for department in department1 %}
				    <tr class="table-row text-center">
                        <th scope="row" class="table-data">{{ department.department_name }}</th>
                    					
						<th scope="row" class="table-data"  >{{ department.branch_name }}</th>
                        <th scope="row" class="table-data">{{ department.semester}}</th>
                        <th scope="row" class="table-data">{{ department.students_length }}</th>
                  
                        <th scope="row" class="table-data"> <a href="{% url 'update-departmentview' department.department_name %}" class="btn btn-sm btn-info">Update</a></th>
                   
                        <th scope="row" class="table-data"> <a href="{% url 'delete-department' department.department_name %}" class="btn btn-sm btn-danger" >Remove</a></th>

                        <th scope="row" class="table-data"> <a href="" class="btn btn-sm btn-danger" >Generate Timetable</a></th>
                
                        <th scope="row" class="table-data"> <a href="" class="btn btn-sm btn-danger" >View Timetable</a></th>
					</tr>
                {% endfor %}
            </tbody>
        </table>
</div>
    </div>


{% endblock %}