{% extends 'timetableapp/main.html' %}
{% load static %}
{% block content %}

<div class="viewcontainer">
<div class="container-fluid">

    <div class="search">
        <input type="text" class="searchbox" placeholder="Search...">
        <input type="submit" value="Search" class="searchButton">
        <a href="{% url 'add-course' %}"><button class="searchButton">Add Subject </button></a>

    </div>


        <table class="table  text-center">
            <thead class="table-header" style="color: white;">
			<tr>
                <div class="header__item filter__link"  >
                   <th scope="col" class="text-center" >Subject ID</th>
                </div>
                <div class="header__item filter__link" >
                    <th class="text-center" scope="col" >Course</th>
                 </div>
                <div class="header__item filter__link" >
                  <th class="text-center" scope="col" >Subject Name</th>
                </div>
                <div class="header__item filter__link" >
                   <th class="text-center" scope="col" >Subject Type</th>
                </div>
                <div class="header__item filter__link"  >
                   <th class="text-center" scope="col" >Classes per week</th>
                </div>
                <div class="header__item filter__link" >
                   <th class="text-center" scope="col" >Total hours per week</th>
                </div>
                <div class="header__item filter__link" >
                    <th class="text-center" scope="col" > Update</th>
                </div>
                <div class="header__item filter__link" >
                     <th class="text-center" scope="col" >Delete</th>
                </div>
			</tr>	
            </thead>
			<tbody class="tab-content">
                {% for corse in course %}
				<tr class="table-row text-center">
                        <th scope="row" class="table-data">{{ corse.course_id }}</th>
                        
                        <th scope="row" class="table-data">{{ corse.department }}</th>
                    					
						<th scope="row" class="table-data"  >{{ corse.course_name }}</th>
                       
						<th scope="row" class="table-data"> {{ corse.course_type}}</th>

						<th scope="row" class="table-data"> {{ corse.credit_hours}}</th>
                  
                        <th scope="row" class="table-data"> {{ corse.contact_hours}}</th>
                   
                        <th scope="row" class="table-data"> <a href="{% url 'update-course' corse.course_id %}" class="btn btn-sm btn-info">Update</a></th>
                   
                        <th scope="row" class="table-data"> <a href="{% url 'delete-course' corse.course_id %}" class="btn btn-sm btn-danger" >Remove</a></th>
                
				</tr>
                
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}