
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.display{
    /* background-image: radial-gradient( circle 897px at 9% 80.3%,  rgba(55,60,245,1) 0%, rgba(234,161,15,0.90) 100.2% ); */
    background-color: #7abecc;
    display: flex;
    min-height:100vh;
    width: 100%;
   /* position: relative; */
    justify-content: center;
    
}

/* .display.course_to_class{
    height:100%;
} */

/* .display.professor{
    height:200vh;
    background-color: red;
} */
.box{
    margin-top:0;
    width: 40%;
    /* position:absolute; */
    height:100%;
    /* background-color:cyan; */
    /* border-radius: 14px; */
    /* border:2px solid black; */
    
    /* margin-left: 5%; */
    /* border-color: black; */
    background-color: #74cfbf;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    padding:10px;
    margin-top:50px;
    /* box-shadow: 0 1px 1px rgba(0,0,0,0.11), 0 2px 2px rgba(0,0,0,0.11), 0 4px 4px rgba(0,0,0,0.11), 0 8px 8px rgba(0,0,0,0.11), 0 16px 16px rgba(0,0,0,0.11), 0 32px 32px rgba(0,0,0,0.11); */
    margin-bottom:25px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
    gap:15px;

    
}
.header{
    font-family: Roboto, sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding-top: 12px;
    margin-top:10px;
    color: white;
    /* background: black; */
    /* border-radius: 10px 10px 0 0 ; */
    height: 15%;
}
.boxcontainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100vw;
    background-color: #7abecc;
    height:92.8vh;
    
}
.operation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.viewcontainer{
    /* display: flex;
    flex-direction: column; */
    background-color: #7abecc;
    min-height: 100vh;
}
.container-fluid
{
    display: flex;
    flex-direction: column;
    gap:10px;
}

/* .innercontainer{
    padding-left: 15px;
    padding-right: 15px;
} */
.deleteBox{

    width: 40%;
    height: 200px;
   
    padding:10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:20px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;

    background-color: #74cfbf;

}
@media (max-width:500px)
{
    .deleteBox{
      width:90%;
    }
}
@media (min-width:501px) and (max-width:700px){
    .deleteBox{
        width:70%;
    }
}
@media (min-width:701px) and (max-width:1000px)
{
    .deleteBox{
        width:60%;
    }
}
/* .deletegif{
    margin-top:5%;
    margin-left: 40%;
    width: 30%;
} */
#deleteText{
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 24px;
    text-transform: capitalize;
    text-align: center;

}
.deleteButton{
    width: 90px;
    height: 50px;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border-style: solid;
    border-radius: 0;
    border-color: black;
    background: crimson;
}

.cancelButton{
    width: 90px;
    height: 50px;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border-style: solid;
    border-radius: 0;
    border-color: black;
    background: black;
    
}
#courseName{
    color: red;
}


.form-control1{
    width: 70% !important;
    margin-left: 15% !important;
    outline: none;
    font-size:18px !important;
    padding:20px 20px 20px 20px !important;

    text-align: center !important;
    border: 2px solid black !important;

    background: none !important;
    border-radius: 30px !important;

    box-shadow: 2px 2px #333333 !important;
}
.saveButton{
    width: 180px ;
	height: 45px ;
	font-family: Roboto, sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bolder;
	color: black ;
	text-align: center;
	background: none;
	margin-left: 15%;
	/* margin-right: -30px; */
	margin-top: 20px;
	border-color: black ;
	border-radius: 30px ;
	border-style: solid;
	border-width: 3px ;
	transition: 0.8s;

}
.saveButton:hover{
    background: black;
    color: white;
}


.gif{
    width: 35%;
    float: right;
    margin-top: -40%;
    margin-right: 10%;

}
.viewtable{
    /* float: right; */
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: black;
    text-transform: capitalize;
   
    text-align: center;
}
.form-control{
    width: 70% !important;
    margin-left: 15% !important;
    outline: none;
    font-size:18px !important;
    padding:20px 20px 20px 20px !important;

    text-align: center !important;
    border: 2px solid black !important;

    background: none !important;
    border-radius: 30px !important;

}
@media (max-width:300px)
{
    .saveButton{
       width:150px;
       height:50px;
       font-size: 15px;
    }
}
@media (min-width: 200px) and (max-width: 480px) {
    .box {
        width: 90% !important;
    }
    .gif{
        display: none;
    }
    .viewtable{
        text-align: center;
        /* margin-top: 20% !important; */
    }
	.margin{
		margin:100%;
	}
}

@media (min-width: 481px) and (max-width: 600px) {

    .box {
        width: 85% !important;
    }
    .gif{
        display: none;
    }
    .viewtable{
        text-align: center;
        /* margin-top: 20% !important; */
    }
}


@media (min-width: 601px) and (max-width: 767px) {

    .box {
        width: 80% !important;
    }
    .gif{
        display: none;
    }
    /* .viewtable{
        /* margin-top: 25%; */
        /* margin-right: 30%; 
    } */
}


@media (min-width: 768px) and (max-width:1000px){

    .box {
        width: 75% !important;
    }
    .gif{
        display: none;
    }
    /* .viewtable{
        /* margin-top: 5%; */
        /* margin-right: 30%; 
    } */
}