{% extends 'timetableapp/main.html' %}
{% load static %}
{% block content %}
<div class="boxcontainer">
    <div class="deleteBox">
    <h3 id="deleteText">Do You want to delete "{{delete.branch_name}} ({{delete.department_name}}) - {{delete.semester }}"?</h3>
    <div class="operation">
        <form method="POST" action="{% url 'delete-department' dep_name=delete.department_name b_name=delete.branch_name sem=delete.semester %}">

    <input class="deleteButton" type="submit" value="Delete">
        {% csrf_token %}
    <a href="{% url 'department_view' %}">
    <input class="cancelButton" type="button" value="Cancel">
    </a>
    </form>
    </div>
    </div>
</div>

{% endblock %}