{% extends 'timetableapp/main.html' %}
{% load static %}
{% block content %}

<div class="boxcontainer">
    <div class="deleteBox">
        <div class="text">
            <h3 id="deleteText">Do You want to delete "{{ course_delete.course_id }}-{{ course_delete.course_name }}"?</h3>
        </div>
    <div class="operation">
        <form method="POST" action="{% url 'delete-course' course_delete.course_id %}">

    <input class="deleteButton" type="submit" value="Delete">
        {% csrf_token %}
    <a href="{% url 'add-course' %}">
    <input class="cancelButton" type="button" value="Cancel">
    </a>
    </form>
     </div>
    </div>
<div>

{% endblock %}