{% extends 'timetableapp/main.html' %}
{% load static %}
{% block content %}


    <div class="container-fluid">

    <div class="search">
        <input type="text" class="searchbox" placeholder="Search...">
        <input type="submit" value="Search" class="searchButton">
        <a href="{% url 'add-professor' %}"><button class="searchButton">Add </button></a>

    </div>


    <div class="">
        <table class="table  text-center">
            <thead class="table-header" style="color: white;">
            <tr>
                <div class="header__item filter__link"  >
                    <th scope="col" class="text-center" >Professor Name</th>
                 </div>
                 <div class="header__item filter__link" >
                   <th class="text-center" scope="col" >Working Hours</th>
                 </div>
                 <div class="header__item filter__link" >
                     <th class="text-center" scope="col" > Update</th>
                 </div>
                 <div class="header__item filter__link" >
                      <th class="text-center" scope="col" >Delete</th>
                 </div>
            </tr>
            </thead>
            <tbody class="tab-content">
                {% for prof in professor1 %}
                <tr class="table-row text-center">
                    <td class="table-data">
                        {{ prof.professor_name }}
                    </td>
                    
                    <td class="table-data">
                        {{ prof.working_hours}}
                    </td>
   
                    <td class="table-data">
                       <a href="{% url 'update-professor' prof.professor_id %}" class="btn btn-sm btn-info">Update</a>
                    </td>
                    <td class="table-data">
                       <a href="{% url 'delete-professor' prof.professor_id %}" class="btn btn-sm btn-danger" >Remove</a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}