{% extends 'timetableapp/main.html' %}
{% load static %}
{% block content %}


<div class="viewcontainer">
    <div class="container-fluid">

    <div class="search">
        <input type="text" class="searchbox" placeholder="Search...">
        <input type="submit" value="Search" class="searchButton">
        <a href="{% url 'add-class' %}"><button class="searchButton">Add Class </button></a>

    </div>


        <table class="table text-center">
            <thead class="table-header" style="color: white;">
			<tr>
                <div class="header__item filter__link" >
                   <th scope="col" class="text-center">Class ID</th>

                {% comment %} </div>
                <div class="header__item filter__link" >
                    <th scope="col" class="text-center">Class Strength</th>
 
                 </div> {% endcomment %}
                <div class="header__item filter__link">
                  <th class="text-center" scope="col">Class Name</th>

                </div>
                <div class="header__item filter__link">
                    <th class="text-center" scope="col">Class Strength</th>
  
                  </div>

                <div class="header__item filter__link">
                    <th class="text-center" scope="col"> Update</th>

                </div>
                <div class="header__item filter__link">
                     <th class="text-center" scope="col">Delete</th>

                </div>
			</tr>	
            </thead>
			
            
			<tbody class="tab-content">
                {% for section in sections %}
				    <tr class="table-row text-center">
                        <th scope="row" class="table-data">{{ section.class_id }}</th>			
						<th scope="row" class="table-data"  >{{ section.class_name }}</th>
                        <th scope="row" class="table-data">{{ section.class_strength }}</th>
                        <th scope="row" class="table-data"> <a href="{% url 'update-classview' section.class_id %}" class="btn btn-sm btn-info">Update</a></th>
                        <th scope="row" class="table-data"> <a href="{% url 'delete-class' section.class_id %}" class="btn btn-sm btn-danger" >Remove</a></th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
</div>


{% endblock %}